{% extends 'ecom/base.html' %}

{% block content %}
<!-- Section: Design Block -->
<section class="">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
      <div class="container">
        <div class="row gx-lg-5 align-items-center">
            <div class="col-md-8 col-lg-7 col-xl-6">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                  class="img-fluid" alt="Phone image">
              </div>
  
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="card">
              <div class="card-body py-5 px-md-5">
                <div class="d-flex align-items-center mb-3 pb-1">
                    <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                    <span class="h1 fw-bold mb-0">Register</span>
                  </div>
                
                <form action="{%url 'register'%}" method='POST'>
                    
                  <!-- 2 column grid layout with text inputs for the first and last names -->
                  {% csrf_token %}
                  {% if error%}
                  <div class="alert alert-danger" role="alert">
                      {{error}}
                  </div>
                  {%endif%}
  
                  <!-- Email input -->
                  <div class="form-outline mb-4">
                    <input type="email" id="form3Example3" class="form-control"  name="email" />
                    <label class="form-label" for="form3Example3" >Email address</label>
                  </div>
  
                  <!-- Password input -->
                  <div class="form-outline mb-4">
                    <input type="password" id="form3Example4" minlength="4" maxlength="10" class="form-control" name="password" />
                    <label class="form-label" for="form3Example4">Password</label>
                  </div>
  
                 
  
                  <!-- Submit button -->
                  <button type="submit" class="btn btn-primary btn-block mb-4">
                    Register
                  </button>
  
                  <!-- Register buttons -->
                  <div>
                    <p class="mb-0">already have an account? <a href="{%url 'login'%}" class="text-dark-50 fw-bold">log in</a>
                    </p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->
  {% endblock content %}